<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li>
                <a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>{{nav[0].name}}</span></a
        >
      </li>
      <li>
        <a href="#about" class="nav-link scrollto"
          ><i class="bx bx-user"></i> <span>{{nav[1].name}}</span></a
        >
      </li>
      <li>
        <a href="#resume" class="nav-link scrollto"
          ><i class="bx bx-file-blank"></i> <span>{{nav[2].name}}</span></a
        >
      </li>
      <li>
        <a href="#facts" class="nav-link scrollto"
          ><i class="bx bx-server"></i> <span>{{nav[3].name}}</span></a
        >
      </li>
      <li>
        <a href="#contact" class="nav-link scrollto"
          ><i  class="bx bx-envelope"></i> <span>{{nav[4].name}}</span></a
        >
      </li>
    </ul>
  </nav>
  <!-- .nav-menu -->
</header>

  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{user.firstName + " " +user.lastName}}</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>

                <div class="social-links">
                <a href="{{user.githubUrl}}" class="github"><i class="bi bi-github"></i></a>
                <a href="{{user.mediumUrl}}" class="medium"><i class="bi bi-medium"></i></a>
                <a href="{{user.linkedInUrl}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="mailto:{{user.email}}" class="email"><i class="bi bi-envelope"></i></a>
                </div>
                </div>
                </section>


                <!-- <header id="header">
    <div class="container">

        <h1><a href="index.html">Emily Jones</a></h1>
       
        <h2>I'm a passionate <span>graphic designer</span> from New York</h2>

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a class="nav-link active" href="#header">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#resume">Resume</a></li>
                <li><a class="nav-link" href="#services">Services</a></li>
                <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
</header> -->